.digitalgifts-tiles {
    display: block;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 3px rgb(0 0 0 / 20%);
    border-radius: 4px;
    margin-bottom: 40px;

}
.view-all {
    font-size: 14px;
    border-radius: 4px;
    padding: 10px;
    text-transform: uppercase;
    background: #008539;
    color: #fff;
    transition: all ease-in-out 0.25s;
}

.digitalgifts-title {
    width: 100%;
    text-align: left;
    padding: 20px;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.digitalgifts-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.digitalgifts-card {
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    margin-bottom: 20px;
}
.digitalgifts-image {
    height: 250px;
    width: 250px;
    padding: 8px;
}

.digitalgifts-name {
    padding: 15px
}
