.searchform-card {
  height: 13vh;
  margin: 0px 250px 0 250px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 999999;
  margin: 0 auto;
  max-width: 1600px;
  position: relative;
  padding: 10px 60px 0px 60px;
  cursor: pointer;
}
  
  .searchform-head{
    padding: 15px 20px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    display: table;
    width: 100%;
    margin-bottom: 40px;    
  }

 table {
    border-collapse: separate !important;
    text-indent: initial !important;
    border-spacing: 2px !important;
 }

 .table-head {
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  text-align: center;
  background: #F6F6F6;
 }
 
  .sub-content {
      font-weight: 100;
  }

  .no-border {
    padding: 12px;
    border: none;
    background: #ff9212;
  }

  .gift-text{
    font-size: 15px;
    font-weight: bold;
  }
  .occasion-icon1{
    margin: 4px 9px -3px 16px;
  }
.occasion-icon2{
  margin: 4px 9px -3px 16px;
}