.sendpersonalizedgift-tiles {
    display: block;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 3px rgb(0 0 0 / 20%);
    border-radius: 4px;
    margin-bottom: 40px;
}

.sendpersonalizedgift-title {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sendpersonalizedgift-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sendpersonalizedgift-card {
    margin-bottom: 20px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 20%);
}
.sendpersonalizedgift-image {
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.sendpersonalizedgifttiles-name {
    padding: 15px
}
