.productstoolbar-container {
    background-color: #F8F8F8;
    font-size: 12px !important;
    clear: both;
    display: flex;
    justify-content: space-evenly;
}

.form-outline{

 float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

