.header-container {
    width: 100%;
    width: 100%;
    padding: 10px 35px;
    height: 79px;
    position: relative;
    z-index: 999999;
    background: #fff;
    clear: both;
}

.logo-search-container {
    display: flex;
    float:left;
}

.header-cards figure {
    padding-right: 35px;
    font-size: 13px;
}

.fnp-logo {
    max-width: 163px;
}

.cart-logo {
    padding-left: 13px;
}

.search-container {
    margin-left: 30px;
    float: right;
    padding: 10px;
    border: 1px solid #ccc;
    width: 25vw;
    border-radius: 10px;
    margin-top: 10px;
}

.header-cards {
    display: flex;
    justify-content: flex-end;
}

